html {
  scroll-behavior: smooth;
  background-color: #eef9bf;
}

.App {
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #207561;
}

.Button{
  background-color: #96bb7c;
}

.book-now {
  position: absolute;
  right: 10rem;
  top: 10rem;
  /* border-radius: 10px; */
  border: darkseagreen;
  border-width: thick;
  text-align: center;
  padding: 30px;
  background-color: rgba(208, 239, 132, 0.5);
}

h1, h2, h3 {
  color: #207561;
  font-family: 'Suez One', serif;
}

hr{
  margin: 6rem auto ;
  border-top-style: dashed;
  border-width: 4px;
  width: 60%;
}

input,
select {
  margin: 20px auto;
}

.copyrights {
  color: #207561;
  font-size: 1rem;
  margin-top: 2rem;
}

 .footer-link {
  color: #207561;
}
